# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular build
dist/
.angular/
.angular/cache/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Fichiers sensibles
src/environments/environment.prod.ts
# Garder environment.ts (développement, pas de secrets normalement)
# Si environment.ts contient des clés API → l'ajouter ici aussi

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/